html {
    height: 100%;
}

body {
    /* background-image: linear-gradient(white, blue);
  background-size: 100% auto; */
    background: -webkit-linear-gradient(to right, #8360c3, #2ebf91);
    background: linear-gradient(to right, #8360c3, #2ebf91)
}